<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cityinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{133,80}}</string>
                <key>offset</key>
                <string>{-97,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,80}}</string>
                <key>sourceSize</key>
                <string>{327,80}</string>
            </dict>
            <key>definfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,80}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,80}}</string>
                <key>sourceSize</key>
                <string>{327,80}</string>
            </dict>
            <key>maginfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{171,80}}</string>
                <key>offset</key>
                <string>{-78,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,80}}</string>
                <key>sourceSize</key>
                <string>{327,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvinfo.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d48e58cbce900ce0bd8210506b8947eb$</string>
            <key>textureFileName</key>
            <string>lvinfo.png</string>
        </dict>
    </dict>
</plist>
