<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>long0.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{168,150}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,83},{168,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,154},{194,166}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,76},{194,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{256,136}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,67},{256,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long11.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,712},{90,144}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,65},{90,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long12.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,422},{82,146}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,65},{82,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long13.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,350},{70,148}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,66},{70,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{20,146}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,67},{20,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,506},{218,204}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{218,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,482},{242,244}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{242,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,242},{260,238}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{260,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{274,246}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{274,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,254}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{278,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long7.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{270,238}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{270,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{252,236}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,48},{252,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>long9.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,250},{256,246}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{256,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>long.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a08fefd873a007b6eaaf3727b60b8d4e$</string>
            <key>textureFileName</key>
            <string>long.png</string>
        </dict>
    </dict>
</plist>
